.homePageContainer {
  height: fit-content;
  align-items: center;
}

/*Header styling*/
/* General Styles */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f9fa;
}

@media only screen and (max-width: 1220px) {
  .header {
    padding: 0 20px;
  }
}

.headerSearch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.logoContainer {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #2c3e50;
  font-weight: 600;
  font-size: 30px;
  transition: 0.1s;
}

.logoContainer:hover {
  color: rgb(174, 64, 64);
  transition: 0.1s;
}

.logo.icons {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

/* Search Form Styles */
.searchForm {
  display: flex;
  align-items: center;
  flex-grow: 1;
  max-width: 500px;
  margin: 0 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (max-width: 800px) {
  .searchForm {
    display: none;
  }
}

#search-box {
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-radius: none;
  user-select: none;
  outline: none;
}

/* Icons Styles */
.fas.fa-search img.searchBook.icons {
  width: 25px;
  height: auto;
  margin-left: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.iconsContainer {
  display: flex;
  align-items: center;
}

.heartContainer,
.readContainer {
  margin-left: 15px;
}

.icons {
  width: 25px;
  height: auto;
}

@media only screen and (max-width: 800px) {
  .iconsContainer {
    display: none;
  }
}

/* Hamburger Menu Styles */
.hamburgerMenu {
  display: none;
  flex-direction: column;
  align-items: center;
}

.hamburgerMenu button {
  background: none;
  border: none;
  cursor: pointer;
}

.hamburgerMenu button .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #333;
}

@media only screen and (max-width: 800px) {
  .hamburgerMenu {
    display: flex;
  }
}

/* Dropdown Menu Styles */
.dropdownMenu {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f8f9fa;
  border-top: 1px solid #ccc;
}

.dropdownMenu.show {
  display: flex;
}

.dropdownMenu .searchForm,
.dropdownMenu .iconsContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 10px 0;
}
/*end of search bar menu*/

.headerLinks {
  width: 100%;
  text-align: center;
  background-color: #2c3e50;
  padding-top: 3px;
  padding-bottom: 3px;
  position: sticky;
  z-index: 1000; 
  top: 0;
}

.navbar {
  display: inline-flex;
  justify-content: center;
  gap: 20px;
}




.navbar a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 15px;
  transition: 0.2s;
}

@media only screen and (max-width: 600px) {
    .navbar {
        gap: 1px;
    }
  }

.navbar a:hover {
  background-color: rgba(0, 0, 0, 0.615);
  transition: 0.2s;
}

/*end of header styling*/

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 1220px) {
    .homeContainer {
      padding: 0 20px;
    }
  }

.home {
  width: 100%;
  max-width: 1200px;
  /* padding: 1em; */
}


.homeContent h3 {
  font-size: 3em;
  color: #2c3e50;
  margin-bottom: 0.5em;
}

.homeContent p {
  font-size: 1em;
  line-height: 1.2em;
  color: #333;
  margin-bottom: 1.3em;
  width: 100%;
}

.homeBtn {
  display: inline-block;
  padding: 0.75em 1.5em;
  background: #2c3e50;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition:  0.3s ease;
}

.homeBtn:hover {
  background: #19242e;
}

/* home styling*/

/* icon section*/

.iconSection {
  margin-top: 50px;
}

.icons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
}

.icons {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}

.icons .svg-inline--fa {
  font-size: 3em;
  color: #2c3e50;
  margin-bottom: 10px;
}

.content h3 {
  font-size: 1.2em;
  margin: 0;
  color: #333;
}

.content p {
  font-size: 0.9em;
  color: #666;
  margin: 0;
}

/* FeaturedBooks.css */
.featured-section {
  padding: 50px 0;
  background: #f5f5f5;
}

.heading {
  text-align: center;
  margin-bottom: 50px;
}

.heading span {
  color: #2c3e50;
}

.book-box {
  background: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .icons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
} */

.icons a {
  color: #2c3e50;
  font-size: 1.5em;
  margin: 0 10px;
  transition: color 0.3s;
}

.icons a:hover {
  color: #1a252f;
}

.image {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.content h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.price {
  font-size: 1.1em;
  margin-bottom: 20px;
}

.price span {
  text-decoration: line-through;
  margin-left: 10px;
  color: #aaa;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background: #2c3e50;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s;
}

.button:hover {
  background: #1a252f;
}

.arrow-button {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
  transition: background 0.3s, color 0.3s;
}

.arrow-button:hover {
  background: #2c3e50;
  color: white;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
  align-items: center;
}



/* Newsletter.css */
.newsletter-section {
  background: #2c3e5015;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
}

.form {
  background: #34495e;
  padding: 20px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.heading {
  color: #ecf0f1;
  margin-bottom: 20px;
}

.email-input {
  width: 100%;
  padding: 10px 00px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background: #ecf0f1;
  color: #2c3e50;
  font-size: 1em;
  text-align: center;
}

.submit-button {
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background: #e74c3c;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background 0.3s;
}

.submit-button:hover {
  background: #c0392b;
}


/* arrivals */

.arrivals {
  width: 100%;
  padding: 20px 0;
}

.arrival-heading {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
}

.arrival-arrivals-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.arrival-arrivals-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  width: 100%;
}

.arrival-box {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  padding-top: 10px;
  width: 100%;
  max-width: 450px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
}

.arrival-box:hover {
  border: 1px solid #000000;
}

.arrival-image img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.arrival-content {
  padding: 20px;
  text-align: center;
}

.arrival-content h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.arrival-price {
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
}

.arrival-price span {
  text-decoration: line-through;
  color: #999;
  margin-left: 10px;
}

.arrival-stars {
  color: #ffd700;
}

.arrival-stars i {
  margin: 0 2px;
}

/* Responsive styles */

@media (max-width: 768px) {
  .arrival-box {
    width: 100%;
    max-width: 300px;
  }

  .arrival-content h3 {
    font-size: 1rem;
  }

  .arrival-price {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .arrival-heading {
    font-size: 1.5rem;
  }

  .arrival-content h3 {
    font-size: 0.9rem;
  }

  .arrival-price {
    font-size: 0.8rem;
  }
}


/* footer */

.footer {
  background-color: #f9f9f9;
  padding: 40px 20px;
}

.footer-box-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-box {
  flex: 1;
  min-width: 220px;
  margin: 20px;
  text-align: left;
}

.footer-box h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.footer-box a {
  display: block;
  color: #555;
  margin: 8px 0;
  text-decoration: none;
  font-size: 16px;
}

.footer-box a i {
  color: #427eba;
  margin-right: 10px;
}

.footer-box-text {
  transition: 0.2s;
}

.footer-box-text:hover {
  margin-left: 20px;
}

.footer-share {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-share a {
  color: #fff;
  background-color: #2c3e50;
  margin: 0 10px;
  padding: 10px;
  border-radius: 50%;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
}

.footer-share a:hover {
  background-color: #476786;
}

.footer-credit {
  font-size: 14px;
  color: #555;
  text-transform: capitalize;
  text-align: center;
  margin-top: 20px;
}

.footer-credit span {
  color: rgb(221, 118, 118);
  font-weight: 600;
}

.footer-map {
  width: 100%;
  height: auto;
  margin-top: 20px;
}


/* sign in*/

/* SignIn.css */

.sign-in-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
}

.sign-in-form {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.sign-in-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.sign-in-form label {
  display: block;
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
  text-align: left;
}

.sign-in-form input[type="email"],
.sign-in-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.remember-me {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  text-align: left;
}

.remember-me input[type="checkbox"] {
  margin-right: 10px;
}

.sign-in-button {
  width: 100%;
  padding: 10px;
  background-color: #2c3e50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s;
}

.sign-in-button:hover {
  background-color: #202d3a;
}

.additional-links {
  margin-top: 20px;
  text-align: center;
}

.additional-links a {
  display: block;
  color: #2c3e50;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 14px;
  transition: 1.5s;
}

